<!DOCTYPE html>
<html>
	<%- include('./partials/head',{
		title : 'Login'
	}) %>
	<body>
		<div class="container"> <!-- Contenedor ppal -->
			<%- include('./partials/header') %>
			<main class="card" style="max-width: 600px;"> <!-- Cuerpo principal del sitio -->
				<section class="card-header">
					Ingresá a tu cuenta
				</section>
				<section class="card-body" >
					
					<form class="access-form" method="POST">
						<div class="field-group">
							<label for="email">Email</label>
							<input type="email" id="email" name="email" placeholder="Email" value="" required>
						</div>
						<div class="field-group">
							<label for="pass">Contraseña</label>
							<input type="password" id="passsword" name="pass" placeholder="Escribe tu contraseña" value="" required>
						</div>
						<div class="field-group remember-me">
							<input type="checkbox" id="remember-me" name="remember-me" value="">
							<label for="remember-me">Recordarme</label>
						</div>
						
						<button type="submit" name="send">Ingresar</button>
					</form>
					<div>
						<p class="text-danger">
							<%= locals.msg && msg %>
						</p>
					</div>
				</section>
			</main>
		</div>

	</body>
</html>
