<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', { title : "Agregar producto" }) %>
<body>
    <div class="container">
        <%- include('./partials/header') %>
        <main class="row">
            <div class="col-12 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form class="row">
                            <div class="col-12 col-md-6 mb-3">
                              <label for="title" class="form-label">Nombre</label>
                              <input type="text" class="form-control" id="title" >
                              <small id="title-error" class="text-danger ms-2" hidden>Error al cargar el nombre del producto</small>
                            </div>
                            <div class="col-12 col-md-6 mb-3">
                              <label for="brand" class="form-label">Marca</label>
                              <select class="form-select">
                                <option selected hidden>Seleccione...</option>
                                <% brands.forEach(brand => { %>
                                  <option value="<%= brand.name %>"><%= brand.name %></option>
                                <% }) %>
                              
                              </select>                              
                              <small id="brand-error" class="text-danger ms-2" hidden></small>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                              <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                    </div>
                </div>
              
            </div>
        </main>

    </main>
    </div>
    
</body>
</html>