<header class="header"> <!-- Encabezadp -->
    <nav class="main-nav">
        <a href="/"><img class="logo" src="/img/logo.png" alt="logo craftsy"></a>
        <ul class="menu">
            <li><a href="/products">Productos</a></li>
            <% if (locals.userLogin && userLogin.rol == "admin" ) { %>
                <li><a href="/admin">Administrador</a></li>
            <% } %>
        </ul>
        <ul class="menu access">
            <% if (locals.userLogin) { %>
                <li><a href="/users/profile">Mi Perfil</a></li>
                <li><a href="/users/logout">Salir</a></li>
            <% }else{ %>
            <li><a href="/users/login">login</a></li>
            <li><a href="/users/register">registro</a></li>
            <% } %>
        </ul>
    </nav>
</header>